@import "../../css/base.css";

.Challenge {
    background-color: var(--color-secondary);
    padding: var(--padding-large) var(--padding-small);
    text-align: center;
}

.Challenge-content {
  margin: var(--padding-small) auto;
}

.Challenge-items {
    list-style: none;
}

.Challenge-social-item {
    display: inline-block;
    margin-right: 25px;
}
  

@media (min-width: 768px) {
    .Challenge-content {
        max-width: 70%;
    }
  }

@media (min-width: 1280px) {
    .Challenge-content {
        max-width: 50%;
    }
}
  